* {
    margin: 0;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(177, 239, 255);
    margin: 0;
}

footer {
    bottom: 0;
    min-width: fit-content;
    text-align: center;
    margin: 0;
    padding: 0 0 4px 0;
    
}

header {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw;
}

header > nav > button {
    margin: 0 4px;
}

#content {
    margin: 5% auto;
    text-align: center;
    width: 85vw;
    border: 2px solid red;
}

#content > .headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#content > .card-container {
    display: flex;
    justify-content: space-evenly;
    max-width: 85vw;
    border: 2px solid yellow;
}

#content > .card-container > .card {
   max-width: 200px;
   border: 2px solid blue;
}

#content > .card-container > .card > .card-img {
    max-width: 185px;
    height: auto;
}

#content > .about-div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.25rem;
    padding: 3%;
}

#content > .about-div > .about-p {
    width: 50%;
}
#content > .about-div > .about-img {
    width: 35%;
    height: auto;
}

/* ///////////// MENU PAGE STYLING ///////////////// */

#content > #menu-page > .entree-card { 
    max-width: 45%;
    padding: 1rem;
    margin: 0.75rem;
    background-color: white;
    border-radius: 18px;
}

#content > #menu-page > .entree-card > .entree-heading {
    margin-bottom: 1rem;
}

#content > #menu-page > .entree-card > .entree {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

#content > #menu-page > .entree-card > .entree-desc {
    text-align: start;
    font-size: 0.75rem;
    margin-bottom: 1rem;
}

#content > #menu-page > .sides {
    max-width: 45%;
    padding: 1rem;
    margin: 0.75rem;
    background-color: white;
    border-radius: 18px;
}

#content > #menu-page > .sides > .sides-line {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}